.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvas {
    border: 1px solid black;
    background-color: white;
}

.gen-label {
    font-size: 20px;
    font-weight: 700;

}

.info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}